


body{
 
 margin: 0;
 padding: 0;

}



.contenedor1 {
    position: relative;
    background-image: linear-gradient(#FFFFFF,#E6E6E6,#808080);
    border: 1px solid #707070;
    width: 1600px;
    height: 1200px;
    
    
   
}

.contenedor2 {
    position: relative;
    background-color: #FFFFFF;
    border: 1px solid #707070;
    width: 1400px;
    height: 800px;
    top: 200px;
    left: 100px;

}



.logoMetrolinia{
    position: absolute;
    top: 43px;
    left: 43px;
    width: 196px;
    height: 44px;
}



.comprarTarjeta {
    position: absolute;
    font-size: 30px;
    color: #000000;
    font-family: 'Open Sans';
    top: 40px;
    left: 700px;
    text-align: left;
   

}



.verSaldo{
    position: absolute;
    font-size: 30px;
    color: #000000;
    font-family: 'Open Sans';
    top: 42px;
    left: 972px;
    text-align: left;
   
}

.lupa{
    position: absolute;
    width: 27px;
    height: 27px;
    top: 51.75px;
    left: 1123.7px;
}

.contenedor3{
    position: absolute;
    background-color: #212020;
    width: 110px;
    height: 800px;
    top: 0px;
    left: 1290px;
    border: 1px solid #707070;
}

.cantidad{
    position: absolute;
    font-size: 20px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    top: 149px;
    left: 14px;
    text-align: left;
}

.saldo1{
    position: absolute;
    font-size: 40px;
    color: #000000;
    font-family: 'Open Sans';
    top: 601px;
    left: 58px;
    text-align: left;
    font-weight: 600;
}

.saldo2 {
    position: absolute;
    font-size: 27px;
    color: #000000;
    font-family: 'Open Sans';
    top: 671px;
    left: 58px;
    text-align: left;
    font-weight: 600;

}

.listaNumeros{
    position: absolute;
    top: 260px;
    left: 5px;
    list-style: none;
    font-family: 'Open Sans';
    font-size: 20px;
}

.numero4{
    color: #707070;

}

.numero5 {
    color: #FFFFFF;
}

.numero3{
    color: #707070;

}

.flecha1{
    position: absolute;
    width: 24px;
    height: 14px;
    top: 40px;
    left: 42.82px;
}

.flecha2{
    position: absolute;
    width: 24px;
    height: 14px;
    top: 746px;
    left: 42.82px;
}

.carritoDeCompra{
    position: absolute;
    width: 33px;
    height: 32px;
    top: 51.5px;
    left: 1223.67px;
}

.contenedor4{
    position: absolute;
    background-color: #D5FF43;
    width: 160px;
    height: 114px;
    top: 647px;
    left: 1080px;
}


.comprar{
    position: relative;
    top: 10px;
    left: 25px;
    text-align: left;
    font-size: 26px;
    font-family: 'Open Sans';
    font-weight: 600;
    
}


.logoMetroLinia2{
    position: relative;
    width: 129px;
    height: 29px;
    top: 29px;
    left: 15px;
}

.tarjetaMetroLinia{
    position: absolute;
    width: 884px;
    height: 497px;
    top: 122px;
    left: 127px;
}