.elemento{
    background-color: rgba(60,69,254,0.5);
    color: white;
    padding: 23px;
    margin: 12;
    background-image: linear-gradient(to top,black,white,blue);
    background-image: linear-gradient(to right,black,white,blue 20%, gold 50%);


    
    
    
}

