
@font-face {
  font-family: 'AmazonEmberBold';
  src: url('../fonts/AmazonEmber_W_Bd.woff2');
  

  
}

@font-face {
  font-family: 'AmazonEmberLight';
  src: url('../fonts/AmazonEmber_W_Lt.woff2');
  

  
}



*{
    box-sizing: border-box;
}



body{
    margin: 0;
}