*{
  margin: 0;
  padding: 0;
}

body{

  
  background-color: #0e0c0c;
}

.barraFija1{
    position: fixed;
    background-color: #000000;
    width: 100vw;
    height: 4vh;
    top: 0;
    z-index: 100;
   
    

}

.barraFija2{
    position: fixed;
    background-color: #000000;
    width: 100vw;
    height: 4vh;
    bottom: 0;
    z-index: 100;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background-color: #0c0606;
  height: 10vh; 
  color: #e6e7ed;
}

.logo{
  position: relative;
  left: 15%;
  top: 20%;
  font-family: Georgia;
  font-weight: bold;
}

.menu{
  position: relative;
  top: 20%;
  left: -10%;
}

.menu a{
 
  color: #e6e7ed;
  padding: 1vw;
  text-decoration: none;
  font-family: Georgia;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-color: #996633;
}

section{

    display: flex;
    height: 100vh;
    
}

.texto1{
    position: relative;
    color: #e6e7ed;
    left: 40%;
    top: 10vh;
    font-family: Georgia;
    font-weight: bold;
    
    
}

 .cafe1 img{
    height: 50vh;
    

 }

 .cafe1{
    position: relative;
    left: 19%;
    top: 17vh;
 }

.texto2 {
    position: relative;
    color: #e6e7ed;
    left: -3%;
    top: 72vh;
    font-family: Georgia;
    font-weight: bold;
    
}

.boton1{
    display: flex;
    background-color: #996633;
    height: 5vh;
    width: 20vh;
    border: 3px solid black;
    position: relative;
    left: -18%;
    top: 79vh;
    
}

.boton1 p{
    padding-top: 1vh;
    padding-left: 4vh;
    font-family: Georgia;
    font-weight: bold
}



.cafe2 img{
    height: 50vh;
    

 }

 .cafe2{
   position: absolute;
   top: 100vh;
 }

 .barraBlanca{
    position: absolute;
    height: 0;
    width: 20vh;
    top: 115vh;
    left: 45vw;
    border: 3px solid white;
 }

 .nuestraHistoria {
    position: absolute;
    color: #e6e7ed;
    top: 110vh;
    left: 58vw;
    font-family: Georgia;
    font-weight: bold;
    font-size: 3vw;
 }

 .lorem1 {
    position: absolute;
    color: #e6e7ed;
    top: 120vh;
    left: 58vw;
    font-family: Georgia;
    font-size: 2vw;
 }

 .boton2{
    display: flex;
    background-color: #996633;
    height: 5vh;
    width: 20vh;
    border: 3px solid black;
    position: absolute;
    top: 140vh;
    left: 57.5vw;
    
}

.boton2 p{
    padding-top: 1vh;
    padding-left: 3vh;
    font-family: Georgia;
    font-weight: bold
}

.enjoy {
    position: absolute;
    color: #e6e7ed;
    top: 150vh;
    left: 5vw;
    font-family: Georgia;
    font-weight: bold;
    font-size: 3vw;
 }

 .lorem2 {
    position: absolute;
    color: #e6e7ed;
    top: 185vh;
    left: 5vw;
    font-family: Georgia;
    font-size: 2vw;
 }

 .boton3{
    display: flex;
    background-color: #996633;
    height: 5vh;
    width: 20vh;
    border: 3px solid black;
    position: absolute;
    top: 194vh;
    left: 5vw;
    
}

.boton3 p{
    padding-top: 1vh;
    padding-left: 3vh;
    font-family: Georgia;
    font-weight: bold
}

.cafe3 img{
    height: 50vh;
    

 }

 .cafe3{
   position: absolute;
   top: 150vh;
  left: 65vw;
 }

 .prueba{
    position: relative;
    display: flex;
    height: 150vh;
    gap: 13vw;
    
 }
 .productos{
    position: absolute;
    color: #e6e7ed;
    top: 0;
    left: 5vw;
    font-family: Georgia;
    font-weight: bold;
    font-size: 3vw;

 }

 .mocha{
    position: relative;
    display: flex;
    background-color: #0e0c0c;
    height: 80vh;
    width: 40vh;
    border: 3px solid #996633;
    left: 5vw;
    top: 30vh;
    
    
 }

.mocha img{
    position: absolute;
    height: 20vh;
    top: -10vh;
    left: 10vh;

 }

.diferente{
    position: absolute;
    color: #e6e7ed;
    top: 15vh;
    left: 8vw;
    font-family: Georgia;
    font-weight: bold;
    
}

.mocha .igual1{
    position: absolute;
    color: #e6e7ed;
    top: 30vh;
    left: 5vw;
    font-family: Georgia;
    
    
}

.mocha .igual2{
    position: absolute;
    color: #e6e7ed;
    top: 40vh;
    left: 5vw;
    font-family: Georgia;
    
    
}

.mocha .igual3{
    position: absolute;
    color: #e6e7ed;
    top: 50vh;
    left: 5vw;
    font-family: Georgia;
    
    
}

.boton4{
    display: flex;
    background-color: #996633;
    height: 5vh;
    width: 20vh;
    border: 3px solid black;
    position: absolute;
    top: 60vh;
    left: 5vw;
    
}

.boton4 p{
    padding-top: 1vh;
    padding-left: 3vh;
    font-family: Georgia;
    font-weight: bold
}


.final{
   position: relative;
   display: flex;
    
}


.barraDorada{
    position: absolute;
    height: 0;
    width: 85vh;
    top: 20vh;
    left: 28vw;
    border: 3px solid #996633;
 }

 .informacion{
    position: relative;
    top: 45vh;
    left: -2vw;
    display: flex;
    height: 80vh;
    width: 65vh;

   
    
    
 }

 .informacion .sobreNosotros{
    position: absolute;
    top: 0;
    left: 15vw;
    color: #e6e7ed;
    font-family: Georgia;
    font-weight: bold;
    
 }

 .informacion .contactanos{
    position: absolute;
    top: 0;
    left: 14vw;
    color: #e6e7ed;
    font-family: Georgia;
    font-weight: bold;
 }

 .informacion .opening{
    position: absolute;
    top: 0;
    left: 11vw;
    color: #e6e7ed;
    font-family: Georgia;
    font-weight: bold;
 }

 .informacion .dorado{
    color: #996633;
 }

 .informacion .textoSit{
    position: absolute;
    top: 6vh;
    left: 8vw;
    color: #e6e7ed;
    font-family: Georgia;
   
 }

 .barraDorada2{
    position: absolute;
    height: 0;
    width: 85vh;
    top: 80vh;
    left: 28vw;
    border: 3px solid #996633;
 }

 .copy{
   position: absolute;
   height: 0;
   width: 85vh;
   top: 83vh;
   left: 40vw;
    
 }

 .copy p{
   color: #e6e7ed;
   font-family: Georgia;
 }

 .copy span{
   color: #996633;

 }

