body{
    background-color: black;
    margin: 0;
}

.bernie{
    background-image: url(../img/bernie.webp);
    width: 100px;
    height: 156px;
    animation: caminar 0.5s steps(5) infinite;
    margin-top: 220px;
    margin-left: 600px;
    z-index: 100000;
    position: absolute;
}

@keyframes caminar {
    from{
        background-position: 0px;

    }
    to {
        background-position: -600px;
    }
}

.fondo1{
    position: absolute;
    background-image: url(../img/monkey-sky.webp);
    width: 1330px;
    height: 156px;
    margin-top: 93px;
    animation: cielo 0.5s steps(5) infinite;

}

@keyframes cielo {
    from{
        background-position: 0px;

    }
    to {
        background-position: -11600px;
    }
}

.fondo2{
    position: absolute;
    background-image: url(../img/monkey-sea.webp);
    width: 1330px;
    height: 156px;
    margin-top:  250px;
    animation: puente 0.5s steps(5) infinite;

}

@keyframes puente {
    from{
        background-position: 0px;

    }
    to {
        background-position: -11600px;
    }
}